@import url(http://fonts.googleapis.com/css?family=Gudea|Raleway:400,100);

// AngularJS
.nav, .pagination, .carousel, .panel-title a, .active-currency { cursor: pointer; }
//==============================================================
body {

	@include background(image-url("bg.jpg"));
	padding: em(65px) 0 em(40px);
	
}

.header, 
.content, 
.footer {

	padding    : em(40px);
	border     : em(1px) solid $white;
	background : rgba(255, 255, 255, .8);

	@extend .container;

	@media (max-width: em(1040px, 16px)) {
		padding: em(40px) 0 em(40px);
	}
	
}

.content,
.footer {

	margin-top: em(15px);
	
}

h1 {

	font: em(24px) $font-family--secondary;

}

h3 {

	font          : em(24px) $font-family--secondary;
	text-transform: uppercase;

}

h4 {

	font  : em(14px) $font-family--secondary;
	
}
