// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google        : 'http://fonts.googleapis.com/css?family=Gudea|Raleway:400,100';
$font-family--secondary  : 'Raleway Thin', Helvetica, Arial, sans-serif;
$font-family-sans-serif  : 'Gudea', Helvetica, Arial, sans-serif;


// Font Weights

$font-weight--thin       : 100;


// Color Usage

$color-primary   : #999;
$color-secondary : #666;
$color-accent    : #996;

// Bootstrap variables


//Шрифт
$btn-default-color      : $color-primary;
$text-color             : $color-primary;
$font-size-base         : 14px;

// Расстояние между колонками
$grid-gutter-width      : 10px;

// Ширина контэйнера на десктопе
$container-large-desktop: 940px + 80px;


$screen-size            : 200px;
$screen-xs: $screen-size;
$screen-xs-min: $screen-size;
$screen-sm: $screen-size;
$screen-md: $screen-size;
$screen-lg: $screen-size;