.slider-and-sale {

	padding-bottom  : em(20px);
 	border-bottom   : em(1px) dotted $brand-primary;

	@extend .row;

}

	.sale {

		padding-left: em(15px);

		@extend     .col-md-3;
		@extend     .col-sm-3;

		&__discount {

			height          : em(257px);
		 	background-image: inline-image('../base64/sale/info.jpg');
			margin-bottom   : em(10px);

			@extend         .show;

		}

		&__message {

		 	border-top   : em(1px) dotted $brand-primary;
		 	padding      : em(5px) em(40px) em(12px) 0;
		 	margin-bottom: 0;

		 	@extend .my-icons-news;

		}
	}

		.form-btn-inside--email {

			margin : 0;

			@extend %form;
			@extend .navbar-form;
			@extend .show;
			@extend .navbar-left; 

			&__input--email {

				background-color: $white;

				@extend %input;
				@extend .form-control;

			}
				
				//AngularJS		
				.ng-dirty.ng-invalid-email {
					border-color: $brand-danger;
				}

				.ng-dirty.ng-valid-email {
					border-color: $brand-success;
				}

			&__submit-button {


				&:focus {

					@extend %button-focus;

				}

				@extend %button;
			 	@extend .btn;
			 	@extend .btn-xs;
			 	@extend .btn-default;

			}
		}





  