@import url(http://fonts.googleapis.com/css?family=Gudea|Raleway:400,100);

// AngularJS
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
//==============================================================
body {

	@include background(image-url("bg.jpg"));
	
}

.header, 
.content, 
.footer {

	padding    : 40px;
	border     : 1px solid #fff;
	background : rgba(255, 255, 255, .8);

	@extend .container;
	
}

h3 {

	font: 24px $font-family--secondary;

}

h4 {

	font  : 14px $font-family--secondary;
	color : $color-accent;

}
