// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-family-sans-serif  : 'Gudea', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Raleway', Helvetica, Arial, sans-serif;


// Font Weights

$font-weight--thin       : 100;
$font-weight--bold       : 700;


// Color Usage

$brand-primary           : #888;
$color-secondary         : #666;
$color-third             : #333;
$footer-price-color      : #944;

$color-accent            : #0a0;
$color-accent-hover      : darken($color-accent, 15%);

$btn-border-color        : #bbb;
$btn-border-color-hover  : darken(#bbb, 15%);

$white                   : #fff;
$black                   : #000;


//                            Bootstrap variables

// Fonts

$btn-default-color      : $brand-primary;
$text-color             : $brand-primary;
$font-size-base         : 14px;

// Navbar

$navbar-default-bg                  : transparent;
$navbar-default-link-active-color   : $color-accent;
$navbar-default-link-color          : $brand-primary;

// Forms

$input-bg                : rgba(180, 152, 144, 0.2);
$input-border-radius     : 0;
$input-color-placeholder : $brand-primary;
$input-height-base       : 25px;
$input-border-focus      : #bbb;

// ==========================================================================

$navbar-margin-bottom    : 0;

// ==========================================================================

$grid-gutter-width       : 0;

// ==========================================================================

$container-large-desktop : 72.85714285714286em;

// ==========================================================================
// Padding in header
$header-blocks-indent    : 3.5714285714285716em;

// ==========================================================================

$screen-sm-rules        : 767px;

$screen-md              : 768px;
$screen-md-rules        : 1040px;

$screen-lg              : 1040px;

// Point at which the navbar begins collapsing.
$grid-float-breakpoint: 768px;