.footer {

	margin-left : auto;
	margin-right: auto;

	@extend .row;
}

	.footer__element--information {

		height  : em(166px) !important;
		overflow: hidden;

		@extend .col-lg-3;
		@extend .col-md-6;
		@media (max-width: em($screen-sm-rules, 16px)) {
			font-size  : 120%;
		}

		@media (max-width: em($screen-md-rules, 16px)) {
			border    : 0;
			text-align: center;
			height    : em(176px) !important;
			@media (max-width: em($screen-sm-rules, 16px)) {

				padding-bottom: em(15px);
				text-align    : center;
				height        : auto !important;
			}
		}

	}

	.footer__element--contacts,
	.footer__element--your-account {
		border-left : em(2px) dotted $brand-primary;
		padding-left: em(20px);
		@media (max-width: em($screen-sm-rules, 16px)) {
			padding: 0 em(10px) em(10px);
		}

		@extend .footer__element--information;
	}

	.footer__element--your-account {
		@media (max-width: em($screen-sm-rules, 16px)) {
			border     : 0;
			border-top : em(2px) dotted $brand-primary;
		}
	}

	.footer__element--contacts {

		@media (max-width: em($screen-md-rules, 16px)) {
			padding-top: em(10px);
			border-left: 0;
			border-top : em(2px) dotted $brand-primary;
		}
	}

	.footer__element--border--free-deliver {


		position      : relative;

		@extend .footer__element--your-account;

		
		@media (max-width: em($screen-md-rules, 16px)) {
			border-top    : em(2px) dotted $brand-primary;
			padding       : em(10px) 0 em(38px);
		}
	}

		.important-info {

			line-height   : 1;
			padding-bottom: em(10px);

			@media (max-width: em($screen-md-rules, 16px)) {
				padding: em(5px) 0 em(5px);
			}
		}

		.footer__contacts-paragraph {

			width         : em(185px);

			padding-bottom: em(15px);

			@media (max-width: em($screen-md-rules, 16px)) {
				margin    : auto;

				@media (max-width: em($screen-sm-rules, 16px)) {
					width: auto;
				}
			}
		}

		.big-header {

			margin-top: em(-2px);
			font-size : em(27px);
			color     : $black;

		}

		.highlight {

			color      : $footer-price-color;
			line-height: 3;
			@extend    .show;

		}

		.payment-system-wrapper {

			position: absolute;

			bottom  : 0;
			@media (max-width: em($screen-md-rules, 16px)) {
				position   : static;
				margin     : auto;
				padding-top: em(25px);
			}

		}

			
			%payment-system {

				width  		: em(42px, 17px);
				height 		: em(27px);
				margin-left : em(10px);

				display: inline-block;
			}

			.payment-system--paypal {

				margin-left: 0 !important;

				@extend .my-icons-paypal;
				@extend %payment-system;
			}

			.payment-system--visa {
				@extend .my-icons-visa;
				@extend %payment-system;
			}

			.payment-system--mastercard {
				@extend .my-icons-Mastercard;
				@extend %payment-system;
			}

			.payment-system--discover {
				@extend .my-icons-Discover;
				@extend %payment-system;
			}
