.footer-bottom {

	padding     : em(40px);

	@extend     .container;
	
	@media (max-width: em($screen-md-rules, 16px)) {
		width: 100%;
		@media (max-width: em($screen-sm-rules,16px)) {
			padding: 0;
		}
	}
}

	.copyright {

		@extend .col-lg-2;
		@extend .col-md-3;


		@media (max-width: em($screen-sm-rules,16px)) {
			margin     : auto;
			width      : 50%;

			padding-bottom: em(10px);
			text-align    : center;
		}

		&__header {


			&__link {

				color      : $black;

				&:hover {

					@extend %hover;

				}

			}

		}

		&__subtitle {

			text-transform: uppercase;

		}
	}

	.social-networks-wrapper{

		@extend .col-lg-offset-9;
		@extend .col-lg-1;
		@extend .col-md-offset-7;
		@extend .col-md-2;

	}

		.social-networks {

			border: em(2px) solid #ccc;
			background: linear-gradient(#fff, rgba(180, 152, 144, 0.2));
			@media (max-width: em($screen-md-rules,16px)) {
				width : em(75px);
				float : right;

				@media (max-width: em($screen-sm-rules,16px)) {
					display: block;
					margin : auto;
					float  : none;
				}
			}

			&__facebook,
			&__twitter {

				width       : em(23px);
				height      : em(23px);
				display     : inline-block;

				margin: em(4px) em(4px) 0 em(6px);

			}

			&__facebook {

				@extend .my-icons-FaceBook;

			}

			&__twitter {

				@extend .my-icons-Twitter

			}

		}


