.private-office,
.currency {

	padding-top: $header-blocks-indent;

	@media (max-width: em($screen-md-rules, 16px)) {
		padding-top: 0;
	}

}

.header__first-row {

	padding-bottom: $header-blocks-indent;

	@extend       .row;

	@media (max-width: em($screen-md-rules, 16px)) {

		width         : 80%;
		margin        : auto;
		padding-bottom: em(30px);
	}
}

// ==========================================================================
// Logo
// ==========================================================================

	.logo {

		@media (max-width: em($screen-sm-rules, 16px)) {

			padding-bottom: em(15px);
			display       : block;
		}

		&__big-letters, 
		&__small-letters {

			@extend .text-uppercase;

		}

		@extend %hover;
		@extend .col-lg-3;
		@extend .col-md-3;
		@media (max-width: em($screen-sm-rules, 16px)) {
			text-align: center;
			font-size   : 120%;
		}

		&__big-letters {

			font  : em(45px) $font-family--secondary;
			color : $color-third;

			@media (max-width: em($screen-md-rules, 16px)) {
				font-size: em(30px);
			}
		}

		&__small-letters {

			font-size     : em(25px);

			@media (max-width: em($screen-md-rules, 16px)) {
				font-size: em(16px);
			}
		}
	}

// ==========================================================================
// Private office
// ==========================================================================

	.private-office {

		overflow    : hidden;

		@extend .col-lg-offset-1;
		@extend .col-lg-3;
		@extend .col-md-3;
		@media (max-width: em($screen-sm-rules, 16px)) {
			padding-left: 25%;

			@media (max-width: em($screen-sm-rules, 16px)) {
				display       : block;
				width         : em(160px);
				padding-left  : 0;
				margin        : auto;


				padding-bottom: em(15px);
			}
		}

		&__menu {

			border-left  : em(1px) solid $color-secondary;

			margin-left  : em(-2px);
			padding      : 0 em(5px);

			&:hover {
				@extend .active-link;
			}

			@media (max-width: em($screen-md-rules, 16px)) {

				display     : block;
				text-align  : center;

				@media (max-width: em($screen-sm-rules, 16px)) {
					display   : inline-block;
					width     : 50%;
					border    : none;

					padding   : em(5px);

					font-size : 120%;
					text-align: left;
				}
			}
		}
	}

// ==========================================================================
// Currency
// ==========================================================================
	.currency {

		@extend .col-lg-2;
		@extend .col-md-2;

		@media (max-width: em($screen-md-rules, 16px)) {
			width     : em(65px);
			text-align: center;

			@media (max-width: em($screen-sm-rules, 16px)) {
				padding-bottom: em(15px);
				width         : em(149px);

				margin        : auto;
				display       : block;

				font-size     : 120%;
			}
		}
	}

	.active-currency {

		padding-left: em(8px);

	}

// ==========================================================================
// Basket
// ==========================================================================

	.basket-wrapper {

		height      : em(72px);
		padding-left: em(14px);

		@extend .col-lg-3;
		@extend .col-md-4;

		@media (max-width: em($screen-md-rules, 16px)) {

			height      : em(38px);
			padding-left: 0;
		}

			@media (max-width: em($screen-sm-rules, 16px)) {
				width     : em(70px);
				height    : auto;
				margin    : auto;
				text-align: center;

				font-size: 120%;
			}
		}

		.basket {

			position: absolute;
			bottom: 0;
			overflow: hidden;
			
			@media (max-width: em($screen-md-rules, 16px)) {
				position: static;
				float: right;

				@media (max-width: em($screen-sm-rules, 16px)) {
					font-size: 90%;
					float    : none;
				}
			}
			
			&__button {
				
				margin-right: em(10px);

				@extend .pull-left;
				@extend .btn;
				@extend .btn-default;
				@media (max-width: em($screen-sm-rules, 16px)) {
					display: none;
				}
			}

				&__button__icon {

					@extend .glyphicon;
					@extend .glyphicon-shopping-cart;

				}

			&__message {
				
				width     : em(169px);
				margin-top: em(-3px);

				@extend .pull-left;

				@media (max-width: em($screen-md-rules, 16px)) {

					width      : em(75px);

				}

			}

				&__message__greeting {
					
					@extend .text-uppercase;

				}

					&__link {

						@extend .links-hyphenated;
						word-wrap : break-word;
						@extend   .active-link;

					}

				&__number-items {

					@extend .active-link;

				}
		}
