.private-office,
.currency {

	padding-top: $header-blocks-indent;

}

.header__first-row {

	padding-bottom: $header-blocks-indent;

	@extend       .row;

}

// ==========================================================================
// Logo
// ==========================================================================

	.logo {


		&__big-letters {

			font  : em(45px) $font-family--secondary;
			color : $color-third;

		}

		&__small-letters {

			font-size     : em(25px);

		}

		&__big-letters, 
		&__small-letters {

			@extend .text-uppercase;

		}

		@extend %hover;
		@extend .col-lg-3;	

	}

// ==========================================================================
// Private office
// ==========================================================================

	.private-office {

		overflow: hidden;

		&__menu {

			border-left  : 1px solid $color-secondary;

			margin-left  : -2px;
			padding      : 0 5px;

			&:hover {
				@extend .active-link;
			}

		}

		@extend .col-lg-offset-1;
		@extend .col-lg-3;	

	}

// ==========================================================================
// Currency
// ==========================================================================
	.currency {

		@extend .col-lg-2;

	}

// ==========================================================================
// Basket
// ==========================================================================

	.basket-wrapper {

		height: em(72px);
		padding-left: em(14px);

		@extend .col-lg-3;
		//JS in da house

	}

		.basket {

			position: absolute;
			bottom: 0;
			
			
			&__button {
				
				margin-right: em(10px);

				@extend .pull-left;
				@extend .btn;
				@extend .btn-default;

			}

				&__button__icon {

					@extend .glyphicon;
					@extend .glyphicon-shopping-cart;

				}

			&__message {
				
				width   : em(169px);
				margin-top: em(-3px);

				@extend .pull-left;

			}

				&__message__greeting {
					
					@extend .text-uppercase;

				}

					&__link {

						word-wrap : break-word;
						@extend   .active-link;

					}

				&__number-items {

					@extend .active-link;
					//JS in da house

				}
		}
