// ==========================================================================
// Main navigation menu
// ==========================================================================

.navigation-menu {

	& > li > a {

		font-size: em(18px);

		@extend  .text-uppercase;

	}

	@extend .nav;
	@extend .navbar-nav;

}


li.open>a {
	@extend %dropdown;
}

// ==========================================================================
// Search in main navigation menu
// ==========================================================================

.search-form {

	@extend %form;

	&__input {

		padding-right: em(30px) !important;
		width        : em(220px) !important;

		@extend      .form-control;

	}

	&__button {


		top       : em(2px);
		right     : em(5px);		

		@extend %button;
		@extend .btn-xs;
		@extend .btn;
		@extend .btn-default;

		&:focus {

			@extend %button-focus;

		}

	}

		&__icon {
	
			transform    : scaleX(-1);
		 
			@extend      .glyphicon;
			@extend      .glyphicon-search;
	
		}

	@extend          .navbar-form;
	@extend          .pull-right;

}
	