// ==========================================================================
// Main navigation menu
// ==========================================================================
.navbar-default {
	height: auto !important;
}

	.navbar-toggle {
		@media (max-width: em($screen-sm-rules, 16px)) {
			margin : auto;
			float  : none;
			display: block;
		}
	}

	.navigation-menu {

		@extend .nav;
		@extend .navbar-nav;
		@media (max-width: em($screen-md-rules, 16px)) {

			width         : em(580px);
			padding-bottom: em(20px);

			float         : none;
			margin        : auto;
			@media (max-width: em($screen-sm-rules, 16px)) {

				width         : auto;
				padding-bottom: 0;
			}
		}

		& > li > a {

			font-size: em(18px);
			padding  : 0 em(10px) 0 0 !important ;

			@extend .links-hyphenated;
			@extend .text-uppercase;
			@media (max-width: em($screen-sm-rules, 14px)) {

				width  : 90%;
				margin : auto;
				padding: em(5px) em(5px) em(5px) !important;
				@media (max-width: em($screen-sm-rules, 14px)) {

					width  : 100%;
				}
			}
		}
	}


li.open>a {
	@extend %dropdown;
}

// ==========================================================================
// Search in main navigation menu
// ==========================================================================

.form-btn-inside {

	margin-top: 0;

	@media (max-width: em($screen-md-rules, 16px)) {

		width : 35%;
		margin: auto;
		float : none !important;

		@media (max-width: em($screen-sm-rules, 16px)) {

			margin: auto;
			width : 80%;
		}
	}


	@extend %form;
	@extend .navbar-form;
	@extend .pull-right;


	&__input {

		@extend %input;
		@extend .form-control;

		@media (max-width: em($screen-md-rules, 16px)) {

			width: 100% !important;
			@media (max-width: em($screen-sm-rules, 16px)) {

				height: auto;
			}
		}
	}

	&__submit-button {

		@extend %button;
		@extend .btn;
		@extend .btn-xs;
		@extend .btn-default;

		&:focus {

			@extend %button-focus;
		}

		@media (max-width: em($screen-sm-rules, 16px)) {

			right : em(6px, 14px);
			top   : em(21px, 14px);

			width : em(34px, 14px);
			height: em(34px, 14px);
		}
	}

		&__icon {
	
			transform    : scaleX(-1);
		 
			@extend      .glyphicon;
			@extend      .glyphicon-search;
	
		}
}

		.form-group {

			@media (max-width: em($screen-md-rules, 16px)) {
				width: 100% !important;
			}
		}