.my-icons-sprite, .my-icons-Discover, .my-icons-FaceBook, .my-icons-Mastercard, .my-icons-Twitter, .my-icons-basket, .my-icons-news, .my-icons-paypal, .my-icons-visa {
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
}

.my-icons-Discover {
  background-position: 0 em(-16px);
}

.my-icons-FaceBook {
  background-position: 0 em(-198px);
}

.my-icons-Mastercard {
  background-position: 0 em(-387px);
}

.my-icons-Twitter {
  background-position: 0 em(-570px);
}

.my-icons-basket {
  background-position: 0 em(-760px);
}

.my-icons-news {
  background-position: em(184px )em(-915px);
}

.my-icons-paypal {
  background-position: 0 em(-1124px);
}

.my-icons-visa {
  background-position: 0 em(-1305px);
}
